.shop-container{

          display: grid;
          grid-template-columns: 4fr 1fr;
}
.products-container{

          display: grid;
          grid-template-columns: repeat(3, 1fr);
          gap: 45px;
          margin-top: 100px;
          margin-left: 25px;
}
.cart-container{


          /* background-color: rgb(112, 99, 80); */
          background-color: #1C2B35;
          border: 10px;
          border-radius: 10px;
          margin-top: 10px;

}

.pagination{

          margin-top: 10px;
       
          justify-content: center;
          margin-bottom: 10px;
          display: flex;
        

          
}
.pagination button{

        
          margin: 5px;
          background-color: black;
          color: white;
          border: 1px solid blue;


}

.pagination .selected{

          background-color: blue;
          color: white;
}